{% extends "padre.html" %}

{% block encabezado %}
Búsqueda de solicitud
{% endblock %}

{% block cuerpo %}

<p>Ingrese los datos indicados:</p>

<form action="/AppCoder/buscar_solicitudes" method="GET">

    <p>
        <label for="cod_paciente">Código del paciente:</label>
        <input type="text" id="cod_paciente" name="cod_paciente">
    </p>

    <p>
        <input type="submit" value="Buscar">
    </p>
    
</form>

<p>{{ mensaje }}</p>


{% for solicitud in resultados %}

<ol> Fecha: {{solicitud.fecha}} - Fármaco: {{solicitud.farmaco}} - Paciente: {{solicitud.cod_paciente}} - Medico solicitante: {{solicitud.cod_medico}} </ol>

{% endfor %}



{% endblock %}