{% extends "padre.html" %}

{% block encabezado %}
Laboratorio de monitoreo de fármacos
{% endblock %}

{% block subtitulo %} 
Medicina personalizada
{% endblock %}

{% block boton %} 
<a class="btn btn-primary btn-lg" href="#!">Ingresar solicitud</a>
{% endblock %}

{% block cuerpo %} 

        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <a class="btn btn-primary btn-lg" href="{% url 'ver medicos'%}">Registros de médicos</a>
                                <p class="mb-0">Ingrese aquí para acceder a la lista de médicos registrados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <a class="btn btn-primary btn-lg" href="{% url 'ver pacientes'%}">Registros de pacientes</a>
                                <p class="mb-0">Ingrese aquí para acceder a la lista de pacientes registrados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                                <a class="btn btn-primary btn-lg" href="{% url 'ver solicitudes'%}">Registros de solicitudes</a>
                                <p class="mb-0">Ingrese aquí para acceder a la lista de solicitudes de dosificación realizadas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}