{% extends "padre.html" %}

{% block encabezado %}
Información
{% endblock %}

{% block subtitulo %} 
de los desarrolladores de la página web
{% endblock %}
            

{% block cuerpo %} 
<header class="py-1">
    <div class="container px-lg-5">
        <div class="p-1 p-lg-4 bg-light rounded-3 text-center">
            <div class="m-1 m-lg-4">
    <main>
        <h4>Sobre mí</h4>
        <p>
            Mi nombre es Patricia Rega. Soy Química Farmacéutica y estudiante de Posgrado en Química de la Universidad de la República.
            Trabajo en un laboratorio que se encarga de monitorizar fármacos en fluidos biológicos en pacientes internados y críticos, 
            y desarrollamos modelos computacionales para poder predecir sus concentraciones y ajustar las dosis administradas.
            Esta página web y los conocimientos adquiridos en Python serán de gran ayuda para continuar avanzando hacia nuestros objetivos.
        </p>

        <h4>Contacto</h4>
        <p>Correo electrónico: patriciarega@fq.edu.uy</p>
        <p>Teléfono: 123-456-7890</p>
    </main>
            </div>
        </div>
    </div>
</header>
{% endblock %}
